<ion-header>
  <ion-toolbar>
    <ion-title>Como Jogar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Instruções do jogo</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <p>1. Localize no quadro de imagens a(s) figura(s) correspondente(s) àquela(s) indicada(s) na parte superior da tela.</p>
        </ion-item>

        <ion-item>
          <p>2. A medida que as figuras surgirem, selecione-a(s) no menor tempo possível. Lembrando que para isso, NÃO PRECISA SER NA MESMA ORDEM.</p>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button *ngIf="mobile" expand="block" (click)="voltar()">Voltar</ion-button>
</ion-content>