<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p *ngIf="tentativaDeSubmissao" style="color: #ea6153;">Por favor preencha todos os dados corretamente.</p>

  <ion-list lines="none">

    <form [formGroup]="myForm">

      <ion-item>
        <ion-label position="floating">Nick</ion-label>
        <ion-input formControlName="nick" type="text"></ion-input>
      </ion-item>

      <ion-item *ngIf="!myForm.controls.nick.valid  && (myForm.controls.nick.dirty || tentativaDeSubmissao)">
        <p>Por favor entre um nick válido.</p>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Idade</ion-label>
        <ion-input formControlName="idade" type="number"></ion-input>
      </ion-item>

      <ion-item *ngIf="!myForm.controls.idade.valid  && (myForm.controls.idade.dirty || tentativaDeSubmissao)">
        <p>Por favor entre uma idade válida.</p>
      </ion-item>

      <ion-item>
        <ion-label>Escolaridade</ion-label>
        <ion-select formControlName="escolaridade" placeholder="Selecione um">
          <ion-select-option value="F">Fundamental</ion-select-option>
          <ion-select-option value="M">Médio</ion-select-option>
          <ion-select-option value="S">Superior</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label>Gênero</ion-label>
        <ion-select formControlName="genero" placeholder="Selecione um">
          <ion-select-option value="F">Feminino</ion-select-option>
          <ion-select-option value="M">Masculino</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input formControlName="senha" type="password"></ion-input>
      </ion-item>

      <ion-item *ngIf="!myForm.controls.senha.valid  && (myForm.controls.senha.dirty || tentativaDeSubmissao)">
        <p>Por favor entre uma senha válida.</p>
      </ion-item>
    </form>

  </ion-list>
  <ion-button expand="full" color="primary" (click)="salvar()">Login</ion-button>

</ion-content>