<ion-content [scrollEvents]="true">

  <ion-slides pager="true" scrollbar="true" (ionSlideTransitionEnd)="ionSlideTransitionEnd($event)" #mySlider>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size-lg="4" offset-lg="4" size-md="6" offset-md="3" size-sm="12" offset-sm="0">
            <ion-card>
              <ion-card-content>
                <ion-grid>
                  <ion-row class="ion-align-items-center">
                    <ion-col>
                      <img style="border-radius: 50%; width: 75%;" src="../../assets/imgs/logo-foco.png" />
                    </ion-col>
                    <ion-col>
                      <ion-card-title><b>Projeto Jovem Cientista</b></ion-card-title>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-lg="4" offset-lg="4" size-md="6" offset-md="3" size-sm="12" offset-sm="0">
            <ion-card>
              <ion-card-header>
                <ion-card-title><b>Bem-vindo!</b></ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list lines="none">
                  <ion-item-divider color="primary">
                    <ion-label style="font-size: 20px;">
                      O Projeto
                    </ion-label>
                  </ion-item-divider>
                  <ion-item>
                    <div class="ion-text-justify">
                      <p>
                        O aplicativo foi desenvolvido com o intuito de dar continuidade ao trabalho desenvolvido
                        pelos integrantes do projeto Jovem Cientista Salesiano, denominado:
                        A Influência dos Processos Atencionais nos Mecanismos de Memória e Aprendizagem.
                      </p>
                    </div>

                  </ion-item>
                  <ion-item-divider color="primary">
                    <ion-label style="font-size: 20px;">
                      O Aplicativo
                    </ion-label>
                  </ion-item-divider>
                  <ion-item>
                    <div class="ion-text-justify">
                      <p>
                        Trata-se de um jogo com o intuito de medir a velocidade de raciocínio e
                        o tempo que o jogador consegue manter a atenção em uma atividade. Os dados coletados serão
                        utilizados para futura análise com base na idade, escolaridade e gênero do jogador. <br>
                        Os resultados serão mantidos em sigilo, sendo destinados apenas para fins científicos. <br>
                        <b>Caso aceite participar, favor aceitar os termos abaixo.</b>
                      </p>
                    </div>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>

          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-lg="4" offset-lg="4" size-md="6" offset-md="3" size-sm="12" offset-sm="0">
            <ion-card class="termos">
              <ion-card-header>
                <ion-card-title><b>Termos e condições de uso</b></ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <div class="ion-text-center">
                        <p>
                          <ion-text color="dark">
                            <a href="../../assets/docs/Termos e condições.pdf">Clique aqui para ter acesso aos termos
                              por completo.</a>
                          </ion-text>
                        </p>
                      </div>
                      <span *ngIf="!aceitouTermos" style="color: #ea6153;"><b>Aceite os termos para continuar</b></span>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-label>
                          Aceito os termos e condições de uso
                        </ion-label>
                        <ion-checkbox slot="end" [(ngModel)]="aceitouTermos"></ion-checkbox>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-lg="4" offset-lg="4" size-md="6" offset-md="3" size-sm="12" offset-sm="0">
            <ion-card>
              <ion-card-header>
                <ion-card-title><b>Participantes</b></ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list lines="none">

                  <ion-item-divider color="primary">
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <ion-img style="width: 50%;" src="../../assets/imgs/logo-castelo.png">
                          </ion-img>
                        </ion-col>
                      </ion-row>
                    </ion-grid>

                  </ion-item-divider>

                  <ion-item>
                    <ion-label>Prof. Julio Cesar Vasconcelos Da Silva</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Isabella Bonfim Ramos Affonso</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Larissa Machado da Silva</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Dafne Bigasz de Araújo</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Artur Nagem Berbet Louzada</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Vinicius Fonseca Gorito Adriano</ion-label>
                  </ion-item>

                  <ion-item-divider color="primary">
                    <ion-grid>
                      <ion-row class="ion-align-items-center">
                        <ion-col>
                          <ion-img style="width: 50%;" src="../../assets/imgs/logo-fsma.png"></ion-img>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item-divider>

                  <ion-item>
                    <ion-label>Prof. Mauro Dias de Carvalho</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Igor Carvalho Costa</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Lucas Rodrigues dos Santos</ion-label>
                  </ion-item>

                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size-lg="4" offset-lg="4" size-md="6" offset-md="3" size-sm="12" offset-sm="0">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Cadastro</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p *ngIf="(tentativaDeCadastro  && !submissaoComSucesso)" style="color: #ea6153;">Por favor preencha
                  todos os
                  dados corretamente.
                </p>

                <ion-list lines="none">

                  <form [formGroup]="singupForm">

                    <ion-item>
                      <ion-label position="floating">Nick</ion-label>
                      <ion-input formControlName="nick" type="text"></ion-input>
                    </ion-item>

                    <ion-item
                      *ngIf="!singupForm.controls.nick.valid  && (singupForm.controls.nick.dirty || tentativaDeCadastro)">
                      <p style="color: #ea6153;">Por favor entre um nick válido.</p>
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Idade</ion-label>
                      <ion-input formControlName="idade" type="number"></ion-input>
                    </ion-item>

                    <ion-item
                      *ngIf="!singupForm.controls.idade.valid  && (singupForm.controls.idade.dirty || tentativaDeCadastro)">
                      <p style="color: #ea6153;">Por favor entre uma idade válida.</p>
                    </ion-item>

                    <ion-item>
                      <ion-label>Escolaridade</ion-label>
                      <ion-select formControlName="escolaridade" placeholder="Selecione um">
                        <ion-select-option value="1">Fundamental - 1°</ion-select-option>
                        <ion-select-option value="2">Fundamental - 2°</ion-select-option>
                        <ion-select-option value="3">Fundamental - 3°</ion-select-option>
                        <ion-select-option value="4">Fundamental - 4°</ion-select-option>
                        <ion-select-option value="5">Fundamental - 5°</ion-select-option>
                        <ion-select-option value="6">Fundamental - 6°</ion-select-option>
                        <ion-select-option value="7">Fundamental - 7°</ion-select-option>
                        <ion-select-option value="8">Fundamental - 8°</ion-select-option>
                        <ion-select-option value="9">Fundamental - 9°</ion-select-option>
                        <ion-select-option value="10">Médio - 1°</ion-select-option>
                        <ion-select-option value="11">Médio - 2°</ion-select-option>
                        <ion-select-option value="12">Médio - 3°</ion-select-option>
                        <ion-select-option value="13">Superior</ion-select-option>
                      </ion-select>
                    </ion-item>

                    <ion-item>
                      <ion-label>Tipo de escola</ion-label>
                      <ion-select formControlName="tipoEscola" placeholder="Selecione um">
                        <ion-select-option value="Pública">Pública</ion-select-option>
                        <ion-select-option value="Privada">Privada</ion-select-option>
                      </ion-select>
                    </ion-item>

                    <ion-item>
                      <ion-label>Sexo</ion-label>
                      <ion-select formControlName="sexo" placeholder="Selecione um">
                        <ion-select-option value="F">Feminino</ion-select-option>
                        <ion-select-option value="M">Masculino</ion-select-option>
                      </ion-select>
                    </ion-item>

                    <ion-item>
                      <ion-radio-group value="Nenhum" formControlName="transtorno">
                        <ion-label>Possui transtorno atencional?</ion-label>
                        <ion-grid>
                          <ion-row>
                            <ion-col size-lg="6" size-md="12" size-sm="12">
                              <ion-item>
                                <ion-label>Nenhum</ion-label>
                                <ion-radio slot="start" value="Nenhum"></ion-radio>
                              </ion-item>
                            </ion-col>
                            <ion-col size-lg="6" size-md="12" size-sm="12">
                              <ion-item>
                                <ion-label>TDA</ion-label>
                                <ion-radio slot="start" value="TDA"></ion-radio>
                              </ion-item>
                            </ion-col>
                            <ion-col size-lg="6" size-md="12" size-sm="12">
                              <ion-item>
                                <ion-label>TDAH</ion-label>
                                <ion-radio slot="start" value="TDAH"></ion-radio>
                              </ion-item>
                            </ion-col>
                            <ion-col size-lg="6" size-md="12" size-sm="12">
                              <ion-item>
                                <ion-label>TDAHI</ion-label>
                                <ion-radio slot="start" value="TDAHI"></ion-radio>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-radio-group>

                      <!--
                      <ion-select formControlName="transtorno" placeholder="Selecione um">
                        <ion-select-option value="Nenhum">Nenhum</ion-select-option>
                        <ion-select-option value="Hiperatividade">Hiperatividade</ion-select-option>
                        <ion-select-option value="TDA">TDA</ion-select-option>
                        <ion-select-option value="TDAH">TDAH</ion-select-option>
                        <ion-select-option value="Dislexia">Dislexia</ion-select-option>
                      </ion-select>
                      -->
                    </ion-item>

                    <ion-item>
                      <ion-label position="floating">Senha</ion-label>
                      <ion-input formControlName="senha" type="password"></ion-input>
                    </ion-item>
                    <span><b>Utilize letras e números (Mín: 5 dígitos)</b></span>

                    <ion-item
                      *ngIf="!singupForm.controls.senha.valid  && (singupForm.controls.senha.dirty || tentativaDeCadastro)">
                      <p style="color: #ea6153;">Por favor entre uma senha válida.</p>
                    </ion-item>
                  </form>

                </ion-list>
                <ion-button expand="full" color="primary" (click)="efetuarCadastro()">Cadastrar</ion-button>

              </ion-card-content>
            </ion-card>

          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-lg="4" offset-lg="4" size-md="6" offset-md="3" size-sm="12" offset-sm="0">
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  Siglas
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list lines="none">
                  <ion-item-divider color="primary">
                    <ion-label>
                      TDA
                    </ion-label>
                  </ion-item-divider>
                  <ion-item>
                    Transtorno de Déficit de Atenção
                  </ion-item>
                  <ion-item-divider color="primary">
                    <ion-label>
                      TDAH
                    </ion-label>
                  </ion-item-divider>
                  <ion-item>
                    Transtorno de Déficit de Atenção com Hiperatividade
                  </ion-item>
                  <ion-item-divider color="primary">
                    <ion-label>
                      TDAHI
                    </ion-label>
                  </ion-item-divider>
                  <ion-item>
                    Transtorno de Déficit de Atenção com Hiperatividade e Impulsividade
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size-lg="4" offset-lg="4" size-md="6" offset-md="3" size-sm="12" offset-sm="0">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Login</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p *ngIf="tentativaDeLogin && !submissaoComSucesso" style="color: #ea6153;">Por favor preencha todos
                  os dados
                  corretamente.
                </p>

                <ion-list lines="none">

                  <form [formGroup]="loginForm">

                    <ion-item>
                      <ion-label position="floating">Nick</ion-label>
                      <ion-input formControlName="nick" type="text"></ion-input>
                    </ion-item>

                    <ion-item
                      *ngIf="!loginForm.controls.nick.valid  && (loginForm.controls.nick.dirty || tentativaDeLogin)">
                      <p style="color: #ea6153;">Por favor entre um nick válido.</p>
                    </ion-item>


                    <ion-item>
                      <ion-label position="floating">Senha</ion-label>
                      <ion-input formControlName="senha" type="password"></ion-input>
                    </ion-item>

                    <ion-item
                      *ngIf="!loginForm.controls.senha.valid  && (loginForm.controls.senha.dirty || tentativaDeLogin)">
                      <p style="color: #ea6153;">Por favor entre uma senha válida.</p>
                    </ion-item>
                  </form>

                </ion-list>
                <ion-button expand="full" color="primary" (click)="efetuarLogin()">Login</ion-button>

              </ion-card-content>
            </ion-card>

          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-slide>
  </ion-slides>

  <ion-fab *ngIf="!ultimoSlide" vertical="center" horizontal="end" slot="fixed" (click)="proximoSlide()">
    <ion-fab-button>
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>