<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="4" offset-lg="4" size-md="6" offset-md="3" size-sm="12" offset-sm="0">
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Como jogar</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item class="ion-margin-top ion-text-justify">
                <p>1. Localize no quadro de imagens a(s) figura(s) correspondente(s) àquela(s) indicada(s) na parte
                  superior da tela.</p>
              </ion-item>

              <ion-item class="ion-margin-top ion-text-justify">
                <p>2. A medida que as figuras surgirem, selecione-a(s) no menor tempo possível. Lembrando que, para isso,
                  NÃO PRECISA SER NA MESMA ORDEM.</p>
              </ion-item>

              <ion-item class="ion-margin-top">
                <ion-button expand="full" style="width: 100%;" size="default" (click)="iniciarJogo($event)">Vamos jogar!</ion-button>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>