<ion-content class="ion-padding">

  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Nível concluído!</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label>
                Seu tempo: {{resultado.tempoFinal}}
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>
                Menor tempo: {{resultadoMaisRapido}}
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button (click)='voltar()'>
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button (click)='chamarProximaFase()'>
                <ion-icon slot="icon-only" name="play"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>