<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='sair()'>
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Projeto Jovem Cientista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col size-lg="4" offset-lg="4" size-md="6" offset-md="3" size-sm="12" offset-sm="0">
        <ion-card style="background-color: #CAE8A2;">
          <ion-card-header>
            <ion-card-title>Iniciar Jogo</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-button expand="full" (click)="iniciarFase(1)">Jogar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-lg="4" offset-lg="4" size-md="6" offset-md="3" size-sm="12" offset-sm="0">
        <ion-button expand="full" color="primary" (click)="instrucoes()">Instruções</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-lg="4" offset-lg="4" size-md="6" offset-md="3" size-sm="12" offset-sm="0">
        <ion-card style="background-color: #BAE4E5;">
          <ion-card-header class="ion-text-center">
            <ion-card-title>Melhor tempo em cada fase</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-grid class="ion-text-center">
              <ion-row>
                <ion-col>
                  <h1>Nível</h1>
                </ion-col>
                <ion-col>
                  <h1>Tempo</h1>
                </ion-col>
                <ion-col>
                  <h1>Erros</h1>
                </ion-col>
              </ion-row>
              <ion-row *ngFor="let resumo of desempenho; let i = index">
                <ion-col>
                  <h2>{{i+1}}</h2>
                </ion-col>
                <ion-col>
                  <h2>{{resumo.resultado.tempo}}</h2>
                </ion-col>
                <ion-col>
                  <h2>{{resumo.resultado.erros}}</h2>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" size="large">
    <ion-fab-button color="danger">
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="primary">
        <ion-icon name="game-controller" (click)="instrucoes()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary">
        <ion-icon name="information" (click)="sobre()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="tertiary">
        <ion-icon name="link" (click)="creditos()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="person" (click)="atualizarDados()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>