<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='sair()'>
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Projeto Jovem Cientista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size-lg="4" offset-lg="4" size-md="6" offset-md="3"  size-sm="12" offset-sm="0">
        <ion-card style="background-color: #CAE8A2;">
          <ion-card-header>
            <ion-card-title>Iniciais</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-button size="large" (click)="iniciarFase(1)">1</ion-button>

            <ion-button size="large" (click)="iniciarFase(2)">2</ion-button>

            <ion-button size="large" (click)="iniciarFase(3)">3</ion-button>


          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-lg="4" offset-lg="4" size-md="6" offset-md="3"  size-sm="12" offset-sm="0">
        <ion-card style="background-color: #FFFF00;">
          <ion-card-header>
            <ion-card-title>Intermediárias</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-button size="large" (click)="iniciarFase(4)">4</ion-button>

            <ion-button size="large" (click)="iniciarFase(5)">5</ion-button>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col  size-lg="4" offset-lg="4" size-md="6" offset-md="3"  size-sm="12" offset-sm="0">
        <ion-card style="background-color: #FF404B;">
          <ion-card-header>
            <ion-card-title>Difíceis</ion-card-title>
          </ion-card-header>

          <ion-card-content>

            <ion-button size="large" (click)="iniciarFase(6)">6</ion-button>

            <ion-button size="large" (click)="iniciarFase(7)">7</ion-button>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" size="large">
    <ion-fab-button color="danger">
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="primary">
        <ion-icon name="game-controller" (click)="instrucoes()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary">
        <ion-icon name="information" (click)="sobre()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="tertiary">
        <ion-icon name="musical-notes" (click)="creditos()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>