.fundo-azul {
    background-color: #025D8C;
}

.fundo-verde {
    background-color: #7FAF1B;
}

.fundo-amarelo {
    background-color: #FBB829;
}

.fundo-vermelho {
    background-color: #F02311;
}

.fundo-branco {
    background-color: #fff;
}

.fundo-rosa {
    background-color: #FE4365;
}

.fundo-preto {
    background-color: black;
}

.fundo-cinza {
    background-color: #D8D8D8;
}

.fundo-laranja {
    background-color: #FF6600;
}

ion-button{
    margin: 0;
}