<ion-header>
  <div *ngIf="!ios; then android_template; else ios_template"></div>

  <ng-template #android_template>
    <ion-toolbar>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col >
            <ion-title>Fase {{contador_fase}}</ion-title>
          </ion-col>

          <ion-col>
            <ion-item class="ion-text-end">
              <ion-title style="margin-right: 0; padding-right: 0;">
                {{stopwatchService.time}}
              </ion-title>
              <ion-icon name="stopwatch" slot="end" style="margin-left: 0;"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ng-template>

  <ng-template #ios_template>
    <ion-toolbar>
      <ion-title>Fase {{contador_fase}}</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-title>{{stopwatchService.time}}s</ion-title>
    </ion-toolbar>
  </ng-template>

</ion-header>


<ion-content class="ion-padding">
  <div class="container">
    <div class="box">
      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center">Encontre as figuras</ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let img of imgs_fase" size="3">
                <div [class]="img.classe">
                  <ion-img [src]="img.img"></ion-img>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    
      <ion-grid class="tabuleiro">
        <ion-row *ngFor="let linha of dados_linhas">
          <ion-col *ngFor="let dado_coluna of linha">
            <div [class]="dado_coluna.classe" (click)="testarBlocoSelecionado(dado_coluna)">
              <ion-img [src]="dado_coluna.img"></ion-img>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <ion-fab *ngIf='game_over' vertical="bottom" horizontal="end" slot="fixed" (click)='reinicarJogo()'>
    <ion-fab-button>
      <ion-icon name="reload"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>